<div id="header" >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="C:\Users\GKMH9907\Desktop\Workspace\BooSt\webapp\frontend\src\assets\skip.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Boost
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="/home">Home</a>
              <a class="nav-item nav-link" routerLink="/graph">Graphs</a>
            </div>
          </div>
    </nav>
</div>
