<footer id="footer" class="o-footer" role="contentinfo" style="position: fixed; bottom: 0%; width: 100%;">
    <div >
        <ul class="nav">
                    <li class="nav-item"><span class="nav-link">© Orange 2020-2021</span></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/">Help</a></li>
                    <li class="nav-item" style="position:absolute;right:20px;"><span class="nav-link">Version 1.0</span></li>
                    
        </ul>
        
    </div>
    
</footer>
